.tag__list{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.45rem;
    margin: 1rem 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.tag__list::-webkit-scrollbar{
    display: none;
}
